<%= render "list_item", title: episode.title, path: entry_path(episode.entry), style: "view-transition-name: #{dom_id(episode, list)}; contain: layout;" do |p| %>
  <% p.content_for :kicker, render("episodes/feed", feed: episode.feed) %>

  <%= render "episodes/description", episode: %>

  <div class="flex space-x-fl-2xs !mt-fl-3xs text-sm font-medium text-grey-500 dark:text-grey-400">
    <div>
      <%= render "episodes/toggle", episode: %>
    </div>

    <%= render "episodes/published_at", published_at: episode.published_at %>

    <%= render "plays/play", play: episode.play %>
  </div>

  <% p.content_for :actions do %>
    <div class="flex h-full items-center justify-center">
      <%= render partial: "play_later_playlists/items/form", variants: [:list_items], locals: {play_later_item: episode.play_later_item} %>
    </div>
  <% end %>
<% end %>
