<%= render "container" do %>
  <h2 class="flex items-center text-sm uppercase tracking-wide font-semibold mt-6 mb-3 text-neutral-500">
    Recently Played
  </h2>

  <div class="flex flex-nowrap space-x-4 pb-4 overflow-x-auto">
    <% @recently_played.each do |feed| %>
      <% play = feed.most_recent_play %>
      <%= render "feeds/featured", feed: feed, entry: play.entry do %>
        <% if play.remaining > 60 %>
          <time class="absolute top-1.5 left-1.5 whitespace-nowrap px-1.5 leading-5 bg-white/95 text-gray-600 text-xs font-medium">
            <%= (play.remaining / 60).round %> mins
            left
          </time>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <h2 class="flex text-sm uppercase tracking-wide font-semibold mt-6 mb-3 text-neutral-500">
    Recently Updated
  </h2>

  <div class="flex flex-nowrap space-x-4 pb-4 overflow-x-auto">
    <% @recently_updated.each do |feed| %>
      <%= render "feeds/featured", feed: feed, entry: feed.most_recent_entry %>
    <% end %>
  </div>

  <h2 class="flex text-sm uppercase tracking-wide font-semibold mt-6 mb-1 text-neutral-500">
    Your Feeds
  </h2>

  <%= render "list" do %>
    <%= render @feeds %>
  <% end %>
<% end %>
