<% @title = @feed.title %>

<nav class="flex absolute w-full z-20 p-3">
  <%= render "back", path: root_path %>
</nav>

<%= render "header", image: external_image_url(@feed.image_url), title: @feed.title do |p| %>
  <% p.content_for :meta do %>
    <div class="text-lg"><%= @feed.author %></div>
  <% end %>
<% end %>

<%= render "container" do %>
  <menu class="flex justify-center gap-x-4 max-w-sm mx-auto -mt-3">
    <% if play = @feed.most_recent_play_by(Current.user) %>
      <li class="flex-1 min-w-0 max-w-[16rem] mx-auto text-center">
        <%= render(
          "plays/featured",
          title: play.complete? ? "Replay" : "Resume",
          play: play,
          highlight: params[:source] == "recently_played"
        ) %>
        <%= render "plays/remaining_in_words", play: play, options: {class: "block mt-0.5 text-xs text-neutral-500"} %>
      </li>
    <% end %>

    <% if play&.entry != @feed.most_recent_entry %>
      <li class="flex-1 min-w-0 max-w-[16rem] mx-auto text-center">
        <%= render(
          "plays/featured",
          title: "Latest",
          play: play = @feed.most_recent_entry.upcoming_play_by(Current.user),
          highlight: params[:source] == "recently_updated"
        ) %>
        <%= render "plays/remaining_in_words", play: play, options: {class: "block mt-0.5 text-xs text-neutral-500"} %>
      </li>
    <% end %>
  </menu>

  <hr class="border-2 my-6 sm:my-8">

  <%= render "list", class: "sm:space-y-4" do %>
    <%= render @entries, user: Current.user %>
  <% end %>
<% end %>
