<% @title = @feed.title %>

<nav class="flex absolute w-full z-20 p-4">
  <%= render "back", path: root_path %>
</nav>

<%= render "header", image: @feed.image_url, title: @feed.title do |p| %>
  <% p.content_for :meta do %>
    <div class="text-lg"><%= @feed.author %></div>
  <% end %>
<% end %>

<%= render "container" do %>
  <div class="flex justify-center gap-x-4 max-w-sm mx-auto -mt-3">
    <% if play = @feed.most_recent_play_by(Current.user) %>
      <div class="flex-1 min-w-0 max-w-[16rem] mx-auto">
        <%= render(
          "plays/featured",
          title: play.complete? ? "Replay" : "Resume",
          play: play,
          highlight: params[:source] == "recently_played"
        ) %>
      </div>
    <% end %>

    <% if play&.entry != @feed.most_recent_entry %>
      <div class="flex-1 min-w-0 max-w-[16rem] mx-auto">
        <%= render(
          "plays/featured",
          title: "Latest",
          play: @feed.most_recent_entry.upcoming_play_by(Current.user),
          highlight: params[:source] == "recently_updated"
        ) %>
      </div>
    <% end %>
  </div>

  <hr class="border-2 my-6 sm:my-8">

  <%= render "list", class: "sm:space-y-4" do %>
    <%= render @entries, user: Current.user %>
  <% end %>
<% end %>
