<%= render "header", image: @feed.rss_image.url, title: @feed.title do |p| %>
  <% p.content_for :meta do %>
    <div class="text-lg"><%= @feed.author %></div>

    <% if @feed.description %>
      <div class="prose prose-neutral text-neutral-500 max-w-2xl text-center">
        <%= sanitize @feed.description.gsub(/&nbsp;/, " ") %>
      </div>
    <% end %>
  <% end %>
<% end %>

<%= render "container" do %>
  <hr class="border-2 my-6 sm:my-8">

  <%= render "list" do %>
    <%= render @entries %>
  <% end %>
<% end %>
