<% @title = @feed_show.title %>

<% content_for :nav do %>
  <%= render "nav", class: "group fixed", data: {layout_target: "respondable", active_when: "banner:invisible"} do %>
    <div class="absolute inset-0 opacity bg-frosted-glass-light dark:bg-frosted-glass-dark -translate-y-full group-data-active:translate-y-0 opacity-0 group-data-active:opacity-100 transition duration-300"></div>
    <%= render "back", path: root_path, color: :translucent_black %>
  <% end %>
<% end %>

<%= render "header", image: external_image_url(@feed_show.image_url), title: @feed_show.title do |p| %>
  <% p.content_for :meta do %>
    <p><%= @feed_show.author %></p>
  <% end %>

  <%= turbo_frame_tag :feed_actions do %>
    <menu class="flex justify-center gap-x-4 max-w-sm mt-fl-2xs mx-auto">
      <% @feed_show.actions.each do |action| %>
        <li class="flex-1 min-w-0 max-w-[16rem] mx-auto text-center">
          <%= render action %>
        </li>
      <% end %>
    </menu>
  <% end %>
<% end %>

<div class="mt-fl-xs">
  <%= render "container" do %>
    <%= form_with url: feed_path(@feed_show.feed), method: :get, data: {turbo_frame: :entries, turbo_action: :replace} do |form| %>
      <div class="relative px-0.5 -mx-fl-xs-lg sm:px-0 sm:mx-0">
        <%= icon :search, solid: true, class: "w-5 h-5 absolute top-1/2 left-2 -translate-y-1/2 text-grey-500 pointer-events-none", aria_hidden: true %>
        <%= form.label :query, "Search", class: "sr-only" %>
        <%= form.search_field :query, ui.text_input(size: :sm).merge(value: params[:query], class: "pl-8") %>
      </div>
    <% end %>
  <% end %>

  <%= turbo_frame_tag :entries do %>
    <div class="relative py-fl-2xs">
      <%= render "list", class: "space-y-fl-3xs" do %>
        <%= render @feed_show.entries, user: Current.user %>
      <% end %>
    </div>
  <% end %>
</div>
