<% @title = @feed.title %>

<nav class="flex absolute w-full z-20 p-4">
  <%= render "back", path: root_path %>
</nav>

<%= render "header", image: @feed.image_url, title: @feed.title do |p| %>
  <% p.content_for :meta do %>
    <div class="text-lg"><%= @feed.author %></div>
  <% end %>
<% end %>

<%= render "container" do %>
  <hr class="border-2 my-6 sm:my-8">

  <%= render "list", class: "sm:space-y-4" do %>
    <%= render @entries, user: Current.user %>
  <% end %>
<% end %>
