<% @title = @feed_show.title %>

<%= render "nav", class: "absolute" do %>
  <%= render "back", path: root_path, color: :translucent_black %>
<% end %>

<%= render "header", image: external_image_url(@feed_show.image_url), title: @feed_show.title do |p| %>
  <% p.content_for :meta do %>
    <div class="text-lg"><%= @feed_show.author %></div>
  <% end %>
<% end %>

<%= render "container" do %>
  <%= turbo_frame_tag :feed_actions do %>
    <menu class="flex justify-center gap-x-4 max-w-sm mx-auto -mt-3">
      <% @feed_show.actions.each do |action| %>
        <li class="flex-1 min-w-0 max-w-[16rem] mx-auto text-center">
          <%= render action %>
        </li>
      <% end %>
    </menu>
  <% end %>

  <hr class="border-2 my-fl-md">

  <section class="max-w-[50rem] mx-auto">
    <%= render "list", class: "-mt-fl-3xs" do %>
      <%= render @feed_show.entries, user: Current.user %>
    <% end %>
  </section>
<% end %>
