<% play = entry.most_recent_current_user_play || entry.upcoming_play %>

<%= render "list_item", title: entry.title, path: entry_path(entry) do %>
  <div class="flex space-x-4 text-sm font-medium text-neutral-500">
    <div class="flex items-center">
      <%= icon :calendar, solid: true, class: "h-4 w-4 mr-1 text-neutral-300 -translate-y-px" %>
      <%= local_relative_time entry.published_at, type: "date", class: "uppercase" %>
    </div>

    <%= render play %>
  </div>

  <div class="text-neutral-500 line-clamp-1 break-all">
    <%= strip_tags (entry.summary || entry.description).gsub("&nbsp;", " ") %>
  </div>
<% end %>
