<% @title = @entry.title %>

<nav class="flex absolute w-full z-20 p-4">
  <%= render "back", path: feed_path(@entry.feed) %>
</nav>

<%= render "header", image: @entry.image_url, title: @entry.title do |p| %>
  <% p.content_for :image_overlay do %>
    <div class="absolute inset-0 flex items-center justify-center">
      <%= render(
        "entries/players/toggle",
        play: @entry.play_by(Current.user),
        padding: "p-4",
        size: "w-16 h-16"
      ) %>
    </div>
  <% end %>

  <% p.content_for :meta do %>
    <div class="justify-center text-lg leading-6">
      <%= image_tag @entry.feed.image_url, class: "inline-block w-6 h-6 mr-1 object-cover align-top", width: 24, height: 24 %>
      <%= link_to @entry.feed.title, feed_path(@entry.feed), class: "text-neutral-500" %>
    </div>

    <%= local_relative_time @entry.published_at, type: "date", class: "block text-neutral-500 font-medium uppercase tracking-wide" %>
  <% end %>
<% end %>

<%= render "container" do %>
  <% if @entry.summary && @entry.content && strip_tags(@entry.summary).gsub(/\s/, "")[0..70] != strip_tags(@entry.content).gsub(/\s/, "")[0..70] %>
    <div class="mt-6 prose prose-neutral mx-auto text-center text-neutral-500">
      <%= sanitize @entry.summary %>
    </div>
  <% end %>

  <hr class="border-2 my-6 border-neutral-200">

  <div data-controller="external-content" class="prose prose-neutral max-w-2xl mx-auto">
    <%= sanitize(@entry.content) || sanitize(@entry.description) %>
  </div>
<% end %>
