<% @title = @show.entry.title %>

<% content_for :nav do %>
  <%= render "nav", class: "group fixed", data: {layout_target: "respondable", active_when: "banner:invisible"} do %>
    <div class="absolute inset-0 opacity bg-frosted-glass bg-gradient-to-b from-white dark:from-black -translate-y-full group-data-active:translate-y-0 opacity-0 group-data-active:opacity-100 transition duration-300">
      <%= link_to image_tag(ExternalImage.url(@show.feed.image_url), width: 48, height: 48, alt: "", class: "absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 motion-safe:turn-enter:animate-enter-fade motion-safe:turn-exit:animate-exit-fade"), "#top", data: {action: "layout#scrollToTop:prevent"} %>
    </div>
    <%= render "back", path: feed_path(@show.feed), color: :translucent_black %>

    <div class="flex justify-end ml-auto space-x-fl-3xs-xs">
      <% if @show.entry.podcast_chapters_url.present? %>
        <%= render "nav_link", path: entry_table_of_contents_path(@show.entry), color: :translucent_black, icon: :"book-open", label: "ToC", label_position: :none %>
      <% end %>
    </div>
  <% end %>
<% end %>

<%= render "header", image: ExternalImage.url(@show.entry.image_url), title: @show.entry.title do |p| %>
  <% p.content_for :image_overlay do %>
    <div class="absolute inset-0 flex items-center justify-center">
      <%= render(
        "entries/players/toggle",
        play: @show.entry.play_by(Current.user),
        padding: "p-4",
        size: "w-16 h-16"
      ) %>
    </div>
  <% end %>

  <% p.content_for :meta do %>
    <div class="justify-center text-lg leading-6 my-fl-3xs">
      <%= image_tag ExternalImage.url(@show.feed.image_url), class: "inline-block w-6 h-6 mr-1 object-cover align-top", width: 24, height: 24 %>
      <%= link_to @show.feed.title, feed_path(@show.feed), class: "text-grey-500 dark:text-grey-400" %>
    </div>

    <div class="flex space-x-4 justify-center text-grey-500 dark:text-grey-400 font-medium">
      <%= local_relative_time @show.entry.published_at, type: "date", class: "block uppercase tracking-wide" %>
      <%= render @show.entry.play_by(Current.user) %>
    </div>
  <% end %>
<% end %>

<%= render "container" do %>
  <% if @show.entry.summary && @show.entry.content && strip_tags(@show.entry.summary).gsub(/\s/, "")[0..70] != strip_tags(@show.entry.content).gsub(/\s/, "")[0..70] %>
    <div class="mt-6 prose prose-grey mx-auto text-center text-grey-500 dark:text-grey-400">
      <%= sanitize @show.entry.summary %>
    </div>
  <% end %>
<% end %>

<div class="relative px-fl-xs-lg py-fl-sm mt-fl-xs-sm bg-grey-50 dark:bg-grey-900">
  <div class="prose prose-grey dark:prose-invert max-w-2xl mx-auto">
    <%= @show.show_notes %>
  </div>
</div>
