<% play = @entry.play_by(Current.user) %>
<%= turbo_frame_tag :player do %>
  <div
    data-player-target="controls"
    data-media-session-target="controls"
    data-media-session-metadata="<%= @entry.media_session_metadata.to_json %>"
    class="relative -mt-6"
  >
    <menu class="flex justify-center items-end gap-3">
      <li class="relative w-20 h-20 order-2">
        <div class="block relative before:absolute before:inset-0 before:ring-inset before:ring-1 before:ring-black/10 shadow-lg">
          <%= image_tag @entry.feed.image_url, alt: "", width: 80, height: 80 %>
        </div>

        <div class="absolute inset-0 flex items-center justify-center">
          <%= render "toggle", play: play %>
        </div>
      </li>

      <li class="order-1"><%= render "skip", direction: :back, seconds: 15, data: { action: "player#skipBack" } %></li>
      <li class="order-3"><%= render "skip", direction: :forward, seconds: 30, data: { action: "player#skipForward" } %></li>
    </menu>


    <p class="flex items-end justify-between px-2 pb-1 -mt-1 font-native text-xs tabular-nums font-semibold">
      <time
        data-player-target="elapsed"
        data-href="<%= @entry.enclosure_url %>"
        datetime="<%= iso8601_duration play.elapsed %>"
        aria-label="<%= distance_of_time_in_words 0, play.elapsed, include_seconds: true %> elapsed"
      >
        <%= chrono_duration play.elapsed %>
      </time>
      <time
        data-player-target="remaining"
        data-href="<%= @entry.enclosure_url %>"
        datetime="<%= iso8601_duration play.remaining %>"
        aria-label="<%= distance_of_time_in_words 0, play.remaining, include_seconds: true %> left"
      >
        <%= chrono_duration play.remaining %>
      </time>
    </p>

    <progress
      data-player-target="progress"
      data-href="<%= @entry.enclosure_url %>"
      min="0"
      max="1"
      class="block w-full h-1 appearance-none border-0 ring-1 ring-white/50 text-blue-500"
    ></progress>

    <%= link_to "#{@entry.feed.title} - #{@entry.title}", entry_path(@entry), class: "block p-2 text-sm font-medium text-center truncate text-blue-700 dark:text-blue-400", data: {turbo_frame: "_top"} %>

    <%= render("plays/form", entry: @entry) if user_signed_in? %>
  </div>
<% end %>
