<%
highlight = local_assigns[:highlight]
class_names = highlight ? "bg-black dark:bg-white text-white dark:text-black border-transparent" : "bg-white dark:bg-black border-grey-200 dark:border-grey-700"
%>

<%= render(
  "plays/toggle",
  play: play,
  options: {
    class: "#{class_names} relative flex flex-wrap min-w-0 cursor-pointer items-center justify-center border-2 px-3 py-2 text-center text-sm font-semibold uppercase tracking-wide focus-within:border-black focus-within:ring"
  }
) do %>
  <span class="block group-data-playing:hidden group-data-loading:hidden p-0.5 my-px -ml-1 mr-1.5 rounded-full border-2 border-grey-200">
    <%= inline_svg_tag "icons/play.svg", class: "w-2.5 h-2.5 translate-x-[4%]", title: "Play", aria_hidden: true %>
  </span>

  <span class="block group-data-playing:hidden group-data-loading:hidden"><%= title %></span>

  <span class="hidden group-data-playing:block my-px group-data-loading:hidden p-0.5 -ml-1 mr-1.5 rounded-full border-2 border-grey-200">
    <%= inline_svg_tag "icons/pause.svg", class: "w-2.5 h-2.5 translate-x-[1%]", title: "Pause", aria: true %>
  </span>

  <span class="hidden group-data-playing:block group-data-loading:hidden">Pause</span>

  <span class="hidden group-data-loading:block my-px p-0.5 rounded-full border-2 border-grey-200">
    <%= inline_svg_tag "icons/loading.svg", class: "group-data-loading:motion-safe:animate-spin w-2.5 h-2.5 #{highlight ? "text-white" : "text-grey-500"}", title: "Loading", aria: true %>
  </span>

  <p class="block basis-full text-xs font-normal normal-case tracking-normal text-center <%= highlight ? "text-grey-300 dark:text-grey-500" : "text-grey-500 dark:text-grey-400" %> truncate">
    <%= play.entry.title %>
  </p>
<% end %>

<%= render "plays/remaining_in_words", play: play, options: {class: "block select-none mt-0.5 text-xs text-grey-500 dark:text-grey-400"} %>
