<div
  data-player-target="play"
  data-href="<%= play.entry&.enclosure_url %>"
  class="flex items-center <%= play_state_class_names(play) %>"
>
  <span class="<%= class_names("hidden played:flex items-center") %>">
    <%= icon :"check-circle", solid: true, class: "h-[1.143em] w-[1.143em] -ml-px mr-1 text-teal-500" %>
    Played
  </span>

  <span class="played:hidden flex items-center">
    <%= render(
      "timer",
      progress: play.progress,
      options: {
        aria: {hidden: true},
        data: {player_target: "timerIcon", href: play.entry&.enclosure_url},
        class: "h-[1.143em] w-[1.143em] -ml-px mr-1 text-grey-300 dark:text-grey-600 group-started:text-blue-500",
        remaining: ({class: "group-started:text-blue-200"}),
        progress: ({class: "group-started:text-white"}),
        needle: ({class: "group-started:fill-blue-700"})
      }
    ) %>

    <%= render "plays/remaining_in_words", play: play %>
  </span>
</div>
