<%
entry = play.entry
options = local_assigns.fetch(:options, {})
options[:class] = Array(options[:class]).push("group relative")
%>

<div data-player-target="play" data-href="<%= entry.enclosure_url %>" <%= tag.attributes(options) %> <%= tag.attributes(play_state_attributes(play))%>>
  <% if entry.present? %>
    <a
      href="<%= entry.resume_enclosure_url(play) %>"
      data-action="player#toggle:prevent"
      data-player-controls-url-param="<%= entry_player_path(entry) %>"
      data-href="<%= entry.enclosure_url %>"
      tabindex="0"
      class="select-none before:absolute before:inset-0 before:z-10"
    >
      <span class="sr-only"><%= entry.title %></span>
    </a>
  <% end %>

  <%= yield %>
</div>
