<%
entry = play.entry
options = local_assigns.fetch(:options, {})
options[:class] = Array(options[:class]).push("relative")
%>

<div <%= tag.attributes(options) %>>
  <input
    autocomplete="off"
    data-player-target="playState"
    data-href="<%= entry.enclosure_url %>"
    class="peer hidden"
    type="checkbox"
    disabled
  >
  <%= link_to entry.resume_enclosure_url(play), data: {action: "player#toggle", href: entry.enclosure_url}, tabindex: 0, class: "before:absolute before:inset-0 before:z-10" do %>
    <span class="sr-only"><%= entry.title %></span>
  <% end %>

  <%# Used to load the player %>
  <%= link_to entry.title, entry_player_path(entry, autoplay: true), data: {turbo_frame: "player", player_target: "loader"}, hidden: true, class: "hidden" %>

  <%= yield %>
</div>
