<%= form_with model: @user, url: signup_path do |form| %>
  <%= render "form_errors", object: form.object %>

  <div class="space-y-fl-xs">
    <div>
      <%= form.label :email %>
      <%= form.email_field :email, ui.text_input.merge(required: true) %>
    </div>

    <div>
      <%= form.label :password %>
      <%= form.password_field :password, ui.text_input.merge(required: true) %>
    </div>

    <div>
      <%= form.label :password_confirmation %>
      <%= form.password_field :password_confirmation, ui.text_input.merge(required: true) %>
    </div>

    <%= form.submit "Sign Up", ui.button %>
  </div>
<% end %>
