<%
items = [
  {
    title: "Import OPML",
    path: new_opml_import_path,
    icon: :"cloud-upload"
  },
  {
    title: "Followed Feeds",
    path: feeds_path,
    icon: :rss
  }
]
account_items = [
  {
    title: "Change Email",
    path: edit_identity_email_path,
    icon: :"at-symbol",
    details: Current.user.email
  },
  {
    title: "Change Password",
    path: edit_password_path,
    icon: :"lock-closed"
  },
  {
    title: "Log Out",
    path: session_path(Current.session),
    icon: :logout,
    method: :delete
  }
]
%>

<% content_for :nav, render("nav_bar") %>

<div class="mt-2 space-y-fl-3xs">
  <%= render partial: "settings/setting", collection: items %>
</div>

<%= render "container" do %>
  <h2 <%= tag.attributes(ui.heading, ui.turn).merge(class: "mt-fl-sm mb-fl-2xs") %>>Account</h2>

  <% unless Current.user.verified? %>
    <div class="mb-fl-sm">
      <p class="text-fl-xs flex">
        We emailed instructions to <%= Current.user.email %>. Follow the instructions to confirm your account.
      </p>
      <p><%= button_to "Re-send verification email", identity_email_verification_path, class: "text-fl-xs underline" %></p>
    </div>
  <% end %>
<% end %>

<div class="mt-2 space-y-fl-3xs">
  <%= render partial: "settings/setting", collection: account_items %>
</div>
