<% content_for :nav do %>
  <nav class="sticky top-0 z-20 px-fl-xs-md py-fl-2xs overflow-hidden bg-white drop-shadow-[0_2px_0_rgba(0,0,0,0.08)]">
    <div <%= turn_attributes %> class="flex w-full items-center">
      <%= link_to(
        "Listen",
        request.url,
        tabindex: 0,
        class: "text-fl-lg leading-[1] font-black lowercase tracking-tight",
        onclick: "window.location.reload(); return false"
      ) %>
      <%= link_to(
        icon(:"dots-horizontal", solid: true, class: "w-5 h-5", title: "Settings", aria: true),
        settings_path,
        tabindex: 0,
        class: "ml-auto block p-0.5 rounded-full border-2 border-black ring ring-white/20 focus:outline-none focus:ring-white/75"
      ) %>
    </div>
  </nav>
<% end %>

<%= render "container" do %>
  <%= render("heading", icon: :play, class: "mt-fl-lg mb-fl-2xs") { "Recently Played" } %>
  <div class="flex flex-nowrap space-x-fl-xs overflow-x-auto snap-x">
    <%= render(partial: "recently_played", collection: @dashboard.recently_played, as: :feed) || render("empty") do %>
      Recently played feeds appear here
    <% end %>
  </div>

  <%= render("heading", icon: :sparkles, class: "mt-fl-lg mb-fl-2xs") { "Recently Updated" } %>
  <div class="flex flex-nowrap space-x-fl-xs overflow-x-auto snap-x">
    <%= render(partial: "recently_updated", collection: @dashboard.recently_updated, as: :feed) || render("empty") do %>
      Recently updated feeds appear here
    <% end %>
  </div>

  <% if @dashboard.feeds.any? %>
    <%= render("heading", icon: :"rss", class: "mt-fl-lg mb-fl-2xs") { "Your Feeds" } %>

    <%= render "list", class: "-mt-fl-3xs" do %>
      <%= render partial: "feeds/feed", collection: @dashboard.feeds %>
    <% end %>
  <% end %>
<% end %>
