<%= render "container" do %>
  <%= render("heading", icon: :play) { "Recently Played" } %>

  <div class="flex flex-nowrap space-x-4 pb-4 overflow-x-auto transform-gpu">
    <% @dashboard.recently_played.each do |feed| %>
      <% play = feed.most_recent_play %>
      <%= render "feeds/featured", feed: feed do %>
        <% unless play.complete? %>
          <div class="flex items-center absolute top-1.5 left-1.5 whitespace-nowrap px-1.5 leading-5 bg-white/95 text-neutral-400 text-xs font-medium">
            <%= render "plays/play", play: play %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <%= render("heading", icon: :sparkles) { "Recently Updated" } %>

  <div class="flex flex-nowrap space-x-4 pb-4 overflow-x-auto transform-gpu">
    <% @dashboard.recently_updated.each do |feed| %>
      <%= render "feeds/featured", feed: feed do %>
        <p class="flex items-center absolute bottom-1.5 left-1.5 whitespace-nowrap px-1.5 leading-5 bg-white/95 text-neutral-500 text-xs font-medium">
          <span class="sr-only">Updated on</span>
          <%= local_relative_time(
            feed.most_recent_entry.published_at,
            type: :weekday,
            class: "capitalize"
          ) %>
        </p>
      <% end %>
    <% end %>
  </div>

  <%= render("heading", icon: :collection) { "Your Feeds" } %>

  <%= render "list" do %>
    <%= render partial: "feeds/feed", collection: @dashboard.feeds %>
  <% end %>
<% end %>
