<% content_for :nav, render("nav_bar") %>

<%= render "container" do %>
  <%= render("heading", icon: :play, class: "mt-fl-lg mb-fl-2xs") { "Recently Played" } %>
  <div class="flex flex-nowrap space-x-fl-xs overflow-x-auto snap-x pb-2">
    <%= render(partial: "recently_played", collection: @dashboard.recently_played, as: :feed) || render("empty") do %>
      Recently played feeds appear here
    <% end %>
  </div>
<% end %>

<%= render "container" do %>
  <%= render("heading", icon: :collection, class: "mt-fl-lg mb-fl-2xs") do %>
    <%= link_to "Play Later", queue_path %>
  <% end %>
<% end %>

<div class="space-y-fl-3xs" id="play_later">
  <%= render(partial: "queues/episode", collection: @dashboard.queue_episodes) || render("container") do %>
    <%= render("empty") { "Play later episodes appear here" } %>
  <% end %>
</div>

<%= render "container" do %>
  <%= render("heading", icon: :sparkles, class: "mt-fl-lg mb-fl-2xs") { "Recently Updated" } %>
  <div class="flex flex-nowrap space-x-fl-xs overflow-x-auto snap-x pb-2" id="recently_updated">
    <%= render(partial: "recently_updated", collection: @dashboard.recently_updated, as: :feed) || render("empty") do %>
      Recently updated feeds appear here
    <% end %>
  </div>
<% end %>

<% if @dashboard.feeds.any? %>
  <%= render "container" do %>
    <%= render("heading", icon: :"rss", class: "mt-fl-lg mb-fl-2xs") { "Your Feeds" } %>
  <% end %>

  <%= render "list", class: "-mt-fl-3xs" do %>
    <%= render partial: "feeds/feed", collection: @dashboard.feeds %>
  <% end %>
<% end %>
