<% content_for :nav, render("nav_bar") %>

<%= render "container" do %>
  <%= render("heading", icon: :play, class: "mt-fl-lg mb-fl-2xs") do %>
    <%= link_to_if @dashboard.recently_played.any?, "Recently Played", plays_path %>
  <% end %>
<% end %>
<div class="space-y-fl-3xs" id="recently_played">
  <%= render(partial: "plays/episode", collection: @dashboard.recently_played) || render("container") do %>
    <%= render("empty") { "Recently played episodes appear here" } %>
  <% end %>

  <%= render("more", feeds: @dashboard.additional_recently_played) { link_to "Played Episodes →", plays_path, class: "text-sm font-semibold uppercase tracking-wide before:absolute before:inset-0" } %>
</div>

<%= render "container" do %>
  <%= render("heading", icon: :sparkles, class: "mt-fl-lg mb-fl-2xs") do %>
    <%= link_to_if @dashboard.recently_updated.any?, "Recently Updated", episodes_path %>
  <% end %>
<% end %>
<div class="space-y-fl-3xs" id="recently_updated">
  <%= render(partial: "episodes/episode", collection: @dashboard.recently_updated) || render("container") do %>
    <%= render("empty") { "Recently updated episodes appear here" } %>
  <% end %>

  <%= render "more", feeds: @dashboard.additional_recently_updated do %>
    <%= link_to "Episodes →", episodes_path, class: "text-sm font-semibold uppercase tracking-wide before:absolute before:inset-0" %>
  <% end %>
</div>

<%= render "container" do %>
  <%= render("heading", icon: :collection, class: "mt-fl-lg mb-fl-2xs") do %>
    <%= link_to_if @dashboard.queue_episodes.any?, "Play Later", queue_path %>
  <% end %>
<% end %>
<div class="space-y-fl-3xs" id="play_later">
  <%= render(partial: "queues/episode", collection: @dashboard.queue_episodes) || render("container") do %>
    <%= render("empty") { "Play later episodes appear here" } %>
  <% end %>

  <%= render "more", feeds: @dashboard.additional_queue_episodes do %>
    <%= link_to "Play Later →", queue_path, class: "text-sm font-semibold uppercase tracking-wide before:absolute before:inset-0" %>
  <% end %>
</div>
