<% content_for :nav, render("nav") %>

<%= render "container" do %>
  <%= render("heading", icon: :play, class: "mt-fl-lg mb-fl-2xs") { "Recently Played" } %>
  <div class="flex flex-nowrap space-x-fl-xs overflow-x-auto snap-x pb-2">
    <%= render(partial: "recently_played", collection: @dashboard.recently_played, as: :feed) || render("empty") do %>
      Recently played feeds appear here
    <% end %>
  </div>

  <%= render("heading", icon: :sparkles, class: "mt-fl-lg mb-fl-2xs") { "Recently Updated" } %>
  <div class="flex flex-nowrap space-x-fl-xs overflow-x-auto snap-x pb-2">
    <%= render(partial: "recently_updated", collection: @dashboard.recently_updated, as: :feed) || render("empty") do %>
      Recently updated feeds appear here
    <% end %>
  </div>

  <% if @dashboard.feeds.any? %>
    <%= render("heading", icon: :"rss", class: "mt-fl-lg mb-fl-2xs") { "Your Feeds" } %>

    <%= render "list", class: "-mt-fl-3xs" do %>
      <%= render partial: "feeds/feed", collection: @dashboard.feeds %>
    <% end %>
  <% end %>
<% end %>
