<% if queue_item.new_record? %>
  <%= form_with model: queue_item, url: queue_items_path, class: ["relative", dom_id(queue_item.entry, :list_items_queue_items)] do |f| %>
    <%= f.hidden_field :entry_id %>
    <%= f.button nil, ui.button(size: :xs, color: :secondary) do %>
      <%= render "button_icon", icon_name: :collection %>
      <span>Play Later</span>
    <% end %>
  <% end %>
<% else %>
  <span <%= ui.button(size: :xs, color: :secondary).merge(class: dom_id(queue_item.entry, :list_items_queue_items)) %>>
    <%= icon :collection, class: "w-5 h-5 -ml-px mr-1" %>
    <span>Added</span>
  </span>
<% end %>
