<% content = yield(p = component_partial) %>

<div class="relative h-64 w-full overflow-hidden" data-layout-target="observable" id="banner">
  <div class="absolute inset-0 bg-grey-100">
    <div class="absolute inset-0 scale-150 bg-cover bg-top blur-lg supports-[backdrop-filter:blur(0)]:blur-none" style="background-image: url('<%= image %>')"></div>
    <div class="absolute inset-0 backdrop-blur-xl"></div>
  </div>
</div>

<%= render "container", tag: :header do %>
  <div class="flex flex-col-reverse items-center gap-4 text-center">
    <div>
      <h1 class="text-fl-base font-semibold"><%= title %></h1>
      <%= p.content_for :meta %>
    </div>

    <div
      <%= turn_attributes %>
      class="relative mx-auto -mt-48 w-64 h-64 after:absolute after:inset-0 after:ring-inset after:ring-2 after:ring-black/10"
    >
      <%= image_tag image, class: "w-full h-full object-cover", alt: "", width: 240, height: 240 %>
      <%= p.content_for :image_overlay %>
    </div>
  </div>

  <%= content %>
<% end %>
