<%= layout :base do %>
  <%= render "spinner" %>

  <%= content_for :nav %>

  <%= render "flash" %>

  <main <%= turn_attributes %>>
    <%= yield %>
  </main>

  <%= render "player", entry: Current.entry, play: Current.play %>

  <script data-turbo-eval="false">
  if (navigator.serviceWorker) {
    navigator.serviceWorker.register('/serviceworker.js', { scope: './' })
      .then(function () {
        console.log('[Page] Service worker registered!')
      })
  }
  </script>
<% end %>
