<%= layout :base do %>
  <div class="fixed w-full top-0 pt-24 pointer-events-none transition-opacity opacity-0 turn-exit:opacity-100 turn-exit:delay-1000">
    <%= inline_svg "icons/loading.svg", title: "Loading", class: "w-8 h-8 mx-auto text-blue-600 turn-exit:motion-safe:animate-spin" %>
  </div>

  <%= render "flash" %>

  <%= content_for :nav %>

  <main <%= turn_attributes %>>
    <%= yield %>
  </main>

  <%= render "player", entry: Current.entry, play: Current.play %>

  <script data-turbo-eval="false">
  if (navigator.serviceWorker) {
    navigator.serviceWorker.register('/serviceworker.js', { scope: './' })
      .then(function () {
        console.log('[Page] Service worker registered!')
      })
  }
  </script>
<% end %>
