<%= layout :base do %>
  <%= render "spinner" %>

  <%= content_for :nav unless turbo_native_app? %>

  <%= render "flash" %>

  <main <%= ui.turn %>>
    <%= yield %>
  </main>

  <%= render("player", entry: Current.entry, play: Current.play) if Current.user %>
<% end %>
