<!DOCTYPE html>
<html data-controller="player media-session" data-action="turbo:load->player#updateToggles">
  <head>
    <title><%= @title ? "#{@title} - Listen" : "Listen" %></title>
    <meta name="viewport" content="width=device-width,viewport-fit=cover,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#ffffff">
    <link rel="apple-touch-icon" href="/icon.png">
    <link rel="icon" href="/icon.png" type="image/png" />

    <link href="https://api.fontshare.com/css?f[]=bespoke-sans@1,2&display=swap" rel="stylesheet">
    <link href='https://tools-static.wmflabs.org/fontcdn/css?family=Roboto+Mono:400&subset=latin' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="mb-44 dark:bg-neutral-900 dark:text-neutral-100">
    <div class="fixed top-1/4 left-1/2 -translate-x-1/2 -translate-y-1/2 opacity-0 turn-exit:opacity-100 transition-opacity delay-700">
      <%= inline_svg "icons/loading.svg", title: "Loading", class: "w-6 h-6 text-blue-600" %>
    </div>

     <% if notice || alert %>
      <div class="p-2 text-center <%= notice ? "bg-green-50 text-green-900" : "bg-red-50 text-red-800" %>">
        <%= notice || alert %>
      </div>
    <% end %>

    <main data-turn-exit="<%= turn_exit_class_names %>" data-turn-enter="<%= turn_enter_class_names %>">
      <%= yield %>
    </main>

    <% if user_signed_in? %>
      <div data-turbo-permanent id="player_bar" class="fixed bottom-0 w-full min-h-[1px] bg-player-bar backdrop-blur">
        <%= render "entries/players/audio", source: Current.entry.try(:resume_enclosure_url, Current.play) %>

        <div style="margin-bottom: env(safe-area-inset-bottom)"><%# Leave room for iOS home bar %>
          <%= turbo_frame_tag :player, src: (entry_player_path(Current.entry) if Current.entry) %>
        </div>
      </div>
    <% end %>

    <script data-turbo-eval="false">
    if (navigator.serviceWorker) {
      navigator.serviceWorker.register('/serviceworker.js', { scope: './' })
        .then(function () {
          console.log('[Page] Service worker registered!')
        })
    }
    </script>
  </body>
</html>
